@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body {
    background-color: #929bdf;
    font-family: "Lora", serif;
}
.contenedor {
    width: 80%;
    margin: auto;
}
h1 {
    color: #000000;
    font-size: 6em;
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
}
h2 {
    color: #232eff;
    background-color: #0aff47;
    font-size: 3em;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
}
.contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.texto2 {
    color: #f0f820;
    font-size: 1.6em;
}
.contenido img {
    width: 400px;
}
.contenido2 {
    text-align: center;
    margin-top: 50px;
}
.justificacion {
    width: 80%;
    margin: auto;
    font-size: 1.4em;
    text-align: justify;
}

.contenedor3 {
    text-align: center;
}
.contenedor3 a:hover {
    background-color: #232eff;
}
.contenedor3 img {
    width: 400px;
    margin-top: 20px;
}